<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.snackbar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dikdhorshon_logo"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_book_requistion"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".BookRequistionActivity"
            android:label="@string/title_activity_book_requistion"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".BookDistributionActivity"
            android:label="@string/title_activity_book_distribution"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Donationrequistion"
            android:label="@string/title_activity_donationrequistion"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".DonationdistributionActivity"
            android:label="@string/title_activity_donationdistribution"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".AddnewexpenseActivity"
            android:label="@string/title_activity_addnewexpense"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name=".ListCartActivity" />

    </application>

</manifest>